@import "variables" ;

html {
    box-sizing: border-box;
  }
  *,*:before,*:after {
    box-sizing: inherit;
  }
  body {
    background-color: #f2f2f2;
    font-family: $font-primaria;
  }
  h2{
    font-family: $font-terciaria;
  }
  .contenedor{
    width: 98%;
    margin:0 auto;
  } 
  img{
    max-width: 100%;
  }