
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .contenedor{
    width: 95%;
  }
  div{
    &.contenido-header{
      padding-top: 40px;
      .redes-sociales{
        a{
          font-size: 1.5rem;
        }
      }
    }
    &.informacion-evento{ 
      .datos{
        flex-direction: column;
        
      }
      h1{
        &.nombre-sitio{
          font-size: 15vw ;
        }
      }
      p{
        &.slogan{
          font-size: 1rem;
        }
      }
      
  }
  &.barra{
    .contenedor{
      .flex{
        align-items: center;
    .logo{
      width: 100%;
      img{
        width: 60%;
      }
    }
    .menu-mobile{
      display: block;
    }
      }
    }
  }
}
}


@media only screen
and (min-width : 768px) {

  .contenedor{
    width: 90%;
  }

  div{
    &.barra{
      .contenedor{
        .flex{
        
      .logo{
        width: 60%;
        img{
          width: 60%;
        }
      }
        }
      }
      
      .contenedor{
        .flex{
          .navegacion-principal{
            display: none;
          }
          .menu-mobile{
            display: block;
          }
        }
      }
    }
  }
}
@media only screen
and (min-width : 992px) {
  .contenedor{
    width: 90%;
    max-width: 1100px ;
  }
  div{
    &.barra{
      .logo{
        img{
          width: 50%;
        }
      }
      .contenedor{
        .flex{
          .navegacion-principal{
            display: block;
            text-align: right;
          }
          .menu-mobile{
            display: none;
          }
        }
      }
    }
  }
}