@media only screen and (min-width: 320px) and (max-width: 768px) {

  .informacion-evento {
          height: 75vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end; 
  }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section {
    .contenedor-video {
      video {
       // width: 100vw;
        //height: 85vh;
      }
    }
    .contenido-programa {
      // height: 100%;
      // width: 100%;
    }
    .programa-evento {
      //width: 100%;

      a {
        display: inline-block;
      }
      .menu-programa {
        flex-direction: row;
      }
    }
  }
  .invitados {
    ul {
      flex-direction: row;
      li {
        width: calc(100% / 2);
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 3840px) {
  .contenedor {
    width: 80%;
    //max-width: 3840px;
  }

  .barra {
      .navegacion-principal {
        display: block;
        text-align: right;
        width: 75%;
        flex-shrink: 0;
      }
    }
}

