//Fuentes de texto
$font-primaria: "Open Sans", sans-serif;
$font-segundaria: "Oswald", sans-serif;
$font-terciaria: "PT Sans", sans-serif;

// colores
$white: #ffffff;
$orange: #fe4918;

//background
$background-primario: #f1f1f1;
$background-segindaria: #f5f5f5;
