@import "base";
div {
  /*header*/
  &.hero {
    background-image: url(../img/encabezado.jpg);
    background-size: cover;
    background-position: top center;
    height: 100vh;
  }
  &.contenido-header {
    padding-top: 20px;
  }
  & nav {
    &.redes-sociales {
      text-align: center;
      a {
        color: $white;
        font-size: 2rem;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &.informacion-evento {
    margin-top: 50px;
    text-align: center;
    color: $white;
    .datos {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
      .fecha{
        margin-bottom: 15px;
      }
      .ciudad{
        margin-bottom: 15px;
      }
      p {
        margin: 0 10px;
        display: inline;
        font-size: 1rem;
        text-transform: uppercase;
        i {
          font-size: 1.4rem;
          padding-right:10px ;
          color: #fe4918;
        }
      }
    }
    h1 {
      &.nombre-sitio {
        font-family: $font-terciaria;
        text-transform: uppercase;
        font-size: 11.5vw;
        margin: 0;
        line-height: 1;
      }
    }
    p{
      &.slogan{
        font-size: 1.7rem;
        span{
          font-weight: bold;
         
        }
      }
    }
  }
  /*Barra*/
  &.barra{
    background-color: #353535;
    padding: 20px 0;
    .contenedor{
      .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
          width: 80%;
          img{
            width:80% ;
          }
        }
        .navegacion-principal{
          width: 70%;
          a{
            font-family: $font-segundaria;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.2rem;
            line-height: 50px;
            padding: 10px 20px;
            transition:  all .3s ease-in;
              &:hover{
                background-color:#fe4918;
              }
              &:last-child{
                border: 1px solid #fe4918 ;
                color:#fe4918;
                &:hover{
                  color: $white;
                }
              }
          }
        }
        .menu-mobile{
          width: 50px;
          display: none;
          text-align: right;
          margin-top: 12px;
          &:hover{
            cursor: pointer;
          }
          span{
            height: 5px;
            margin-bottom: 6px;
            background-color: $white;
            display: block;
          }

        }
      }
    }
  }
 
}
.seccion{
  p{
    font-size: 1.2em
  }
}

// Programa del evento

.programa{
      position: relative;
    }
    .contenedor-video{
      max-width: 100%;
      overflow-x: hidden
    }
      .contenido-programa{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .programa-evento{
        background-color: rgba(255,255,255, .8);
        padding:15px;
        margin-top: 50px;
        width: 60%;
        p{
          text-align: left
        }
        h3{
        text-align: left
        }
      }
      .menu-programa {
        width: 100%;
        border-bottom: 1px solid $orange;
        padding-bottom: 15px;
        display:flex;
        justify-content: space-evenly;
        a{
          display: inline-block ;
          text-align: center;
          text-decoration: none;
          color: #000000;
          font-family: $font-segundaria;
          font-size: 1.2em;
          i{
            color:$orange;
            margin-right: 10px;
            font-size: 1.6em;
          }
        }
      }
      .detalles-evento{
        margin-top: 20px;
        padding:  0 20px;
          p{
            margin-bottom: 20px;
            font-size: 20px;
            i{
              color:$orange;
              margin-right: 10px;
              font-size: 1.6em;
            }
          }
          &:first-of-type {
            border-bottom: 1px solid #000000;
          }
      }
// invitado
.invitados{
  ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
      width: calc( 100% / 3) ;   
      padding: 0 20px; 
    }
  }



}








@import "mq" ;
