.contador {
  position: relative;
  height: auto;

  &::before {
    content: '';
    background-image: url(../img/bg-resumen.jpg);
  }

  ul {
    position: relative;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      //width: 50%;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      font-family: $font-segundaria;
      font-size: 24px;
      @include xs {
        width: 50%;
      }
    }
  }
}
