.lista-precios{
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100px ;
    @include md {
        flex-wrap: nowrap;
    }  
    li{
        @include md {
            margin: 0 5px;
        }  
        @include sm {
            width: 100%;
            margin: 10px 0;
        }       
         @include xs {
            width: 100%;
            margin: 10px 0;
        }
        .tabla-precio{
            border: 1px solid #e1e1e1;
            background-color: #ffffff;
            padding: 50px;
            text-align: center;
            transition: all .5s ease;
            @include md {
               padding: 50px 30px;
            } 
            &:hover{
                transform: scale(1.1);
                border: 1px solid $orange;
                box-shadow: 0 0 50px #666 ;
            }
            h3{
                font-family: $font-segundaria;
                font-size: 20px;
                text-transform: uppercase;
                @include sm{
                    font-size: 1.8em;
                }
            }
            .numero{
                color: #000000;
                font-size: 4em;
                display: block;
                margin: 0 0 10px 0 ;
                font-weight: bold;
                @include sm{
                    font-size: 4.5em;
                }
            }
            ul li{
                text-transform: uppercase;
                font-size: 14px;
                font-family: $font-terciaria;
                margin-bottom: 10px;
                color: #868686;
                line-height: 26px;
                &::before{
                    display: inline;
                    vertical-align: top;
                    font-size:20px;
                    padding: 0 5px;
                    color:green;
                    content: '\2713';
                    -webkit-font-smoothing: antialiased;
                }
                @include sm{
                    font-size: 16px;
                }
            }
        }
    }
    
}